/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/* Custom CSS starts here */
.logo {
    font-family: 'Munro', Courier;
    color: white !important;
}

.on-top.ng-enter {
    animation: fadeIn 0.2s linear;
    -webkit-animation: fadeIn 0.2s linear;
}

.on-top.ng-leave {
    animation: fadeOut 0.2s linear;
    -webkit-animation: fadeOut 0.2s linear;
}

.right {
    text-align: right;
}

.logout-button {
    line-height: 50px;
    color: white;
    margin-right: 10px;
}

.logout-button:hover {
    opacity: 0.75;
    color: white;
    text-decoration: none;
}

.login-button {
    height: 50px;
    background-color: #444;
    min-width: 100px;
    border: 0;
    color: #ddd;
    opacity: 0.7;
}

.login-button:active, .login-button:focus {
    border: 0;
}

.login-button:hover {
    opacity: 1;
}

