.view-content {
    margin-top: 50px;
}

.gallery {
    text-align: center
}


.page-content {
    padding-top: 3px;
    min-height: 100vh;
}

.animate-opacity {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.image-thumbnail {
    opacity: 1;

}

.image-thumbnail:hover {
    opacity: 0.5;
}

.loadingGallery{
    background-image: url('../img/loading.svg');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}