.view-content {
    margin-top: 50px;
}

.gallery {
    text-align: center
}


.page-content {
    padding-top: 3px;
    background: white;
    min-height: 100vh;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.popular-heading {
    font-family: 'Munro'
}