<div class="on-top show-login" ng-if="loginView">
    <div class="close-bar">
        <a ng-click="closeLogin()" class="close-button">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="row login-box">
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <div class="login-container">
                <h1 class="login-header">Log In</h1>
                <br />
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usernameLogin" placeholder="Username on 500px"
                               ng-model="$parent.usernameLogin">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passwordLogin" placeholder="Password"
                               ng-model="$parent.passwordLogin">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
                            <div ng-class="{'loading': loadingLogin}" class="left">
                                <span ng-if="loadingError" class="red loading-error">Sorry, could not log in.</span>
                            </div>
                            <div ng-if="!(loadingLogin || loadingError)" class="no-account">
                                <a href="http://500px.com" target="_blank">Register at 500px</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-6 col-xs-6 right">
                            <button ng-click="login()" class="btn btn-default">Login</button>
                        </div>
                    </div>

                </form>
            </div>


        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>

    </div>
</div>